.a{
  background-color: #252525;
  color: white;
  }
  
  .a-3{
    color: #cfcfcf;
  }
  
  .a-4{
    color: #02b966;
  }
  
  .a-0-1{
    background-color: #272727;
    color: white;
  }
  
  /* image animation */
  
  .img0 {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    0% { transform: translateX(170px); }
    100% { transform: translateY(-50px); }
  }
  @keyframes mover {
    0% { transform: translateY(70px); }
    0% { transform: translateX(170px); }
    100% { transform: translateY(-50px); }
  }
  
  /* name color */
  
  .name {
    color: #f2ff5b;
  }
  
  .a-5 {
    color: #f2ff5b;
  }
  
  .name0 {
    color: #00ff8c;
  }